body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
}

body.full-width {
  max-width: 100%;
}

h1, h2, h4, h5, h6, p, ul, li {
  margin: 0;
}

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

footer {
  border-top: 1px solid #DCDCDC;
  height: 55px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 1148px;
}

/* Nav height = 65, Footer = 60 */
main {
  min-height: calc(100vh - 65px - 60px);
}

.mainBtn {
  background-color: #2563EB;
  height: 38px;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 4px 25px;
  width: 100%;
}

.ghostBtn {
  background-color: transparent;
  border: 1px solid #DCDCDC;
  height: 38px;
  color: #424242;
  border-radius: 3px;
  font-weight: 500;
  padding: 4px 25px;
  width: 100%;
}

.sectionHeader {
  color: #374151;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* Header */

.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
  height: 65px;
}

.logo {
  height: 60px;
  width: 60px;
}

.rightWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 700px;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  max-width: 350px;
  width: 100%;
}

.searchIcon {
  height: 20px;
  width: 20px;
}

.searchInput {
  border: none;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.userAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Profile */

.profileAvatar {
  height: 150px;
  width: 150px;
}

.userDetails {
  display: flex;
  gap: 2rem;
}

.userInfoWrapper {
  width: 700px;
}

.userInfoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userName {
  font-size: 1.8rem;
  color: #4B5563;
  font-weight: bold;
  width: 100%;
}

.userInfo {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.recentBlogs {
  margin-top: 2rem;
}

.editProfileLink {
  background-color: #2563EB;
  height: 38px;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  padding: 0 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Edit Profile */

.editProfileForm {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.avatarUpload {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.inputsWrapper {
  display: grid;
  gap: 1rem;
  width: 500px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authInput {
  border: 1px solid rgba(172, 172, 172, 1);
  height: 35px;
  border-radius: 3px;
  padding-left: 10px;
}

.authTextarea {
  padding: 8px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid rgba(172, 172, 172, 1);
}

.editProfileBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.editProfileCancel {
  background-color: transparent;
  border: 1px solid rgba(172, 172, 172, 1);
  height: 38px;
  color: #424242;
  border-radius: 3px;
  font-weight: 500;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* Jamel's Styles */

body.auth {
  display: grid;
  grid-template-columns: 500px minmax(0, 1fr);
  font-family: 'Author', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-decoration {
  background: #9fa0a4;
  position: relative;
  pointer-events: none;
}

.auth-decoration::after {
  content: "";
  height: 100%;
  width: 1px;
  left: 0;
  position: absolute;
  background: #00000021;
}

.auth-decoration video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-decoration-reference {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  background: #00000047;
  color: white;
  border-radius: 3px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-weight: 500;
}

.auth-decoration-reference strong {
  font-weight: 600;
}

.auth-panel {
  padding: 4rem;
  display: grid;
  align-content: start;
  grid-row-gap: 4rem;
}

.auth-header h1 {
  font-weight: 500;
  color: #1F2937;
}

.auth-header h2 {
  font-weight: 400;
  color: #6B7280;
  font-size: 20px;
  margin-top: 6px;
}

.auth-header h2 a {
  font-weight: 500;
  color: #0169a1;
  text-decoration: none;
}

.auth form {
  display: grid;
  grid-gap: 2rem;
}

.auth .input-container label {
  font-weight: 500;
  font-size: 17px;
  display: block;
  cursor: auto;
  margin-bottom: 5px;
  color: #4B5563;
}

.auth .input-container input {
  height: 42px;
  padding: 0 12px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #9CA3AF;
  font-size: 17px;
  box-shadow: 0 1px 3px 2px #f3f4f6;
  box-sizing: border-box;
  color: #1F2937;
  font-weight: 500;
}

.auth .input-container input:focus {
  border: 1px solid #0369A1;
  box-shadow: 0 0px 0px 2px #036aa138;
}

.auth .input-container input::placeholder {
  font-weight: 400;
  color: #9CA3AF;
}

.auth button {
  background-color: #0369A1;
  height: 42px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  color: white;
  border: 1px solid #0000003d;
  margin-top: 2rem;
}

.auth button:hover {
  background-color: #075985;
}

@media (max-width: 700px) {
  body.auth {
    grid-template-columns: minmax(0, 1fr);
  }

  .auth-panel {
    padding: 2rem;
    grid-row-gap: 2rem;
  }

  .auth-decoration {
    display: none;
  }
}

/* End of Jamel's Styles */

.row {
  padding: 10px 0;
}